body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.carta {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* Agregamos una transición para suavizar la rotación */
}

.carta:hover {
    background-color: #d9d9d9;
}

.encontrada {
    background-color: green;
    cursor: default;
}

.volteada {
    pointer-events: none;
    transform: rotateY(180deg);
    /* Rotamos la carta 180 grados cuando se voltee */
}